{
  "ig_username": "username",
  "ig_password": "password",
  "microsoft_email": "myEmail@example.com",
  "microsoft_password": "mypassword",
  "microsoft_fullname": "My Full Name",
  "purple_site": "https://examplesite.com"
}
